@tailwind base;
* {
	@apply p-0 m-0 box-border;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

h1 {
	@apply text-4xl font-normal;
}

h2 {
	@apply text-xl;
}
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;
